<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>B.I.T.I - Bag It, Tag, It</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../img/logo.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Template Stylesheet -->
    <link href="../css/signup.css" rel="stylesheet">

    <!-- Material Design font Stylesheet -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
        integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-11 mt-60 mx-md-auto">
                <div class="login-box bg-white pl-lg-5 pl-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col-md-6">
                            <div class="form-wrap bg-white">
                                <h4 class="pb-3" style="text-align: center;">Order Details</h4>
                                <div class="row">
                                    <table>
                                        <tr>
                                            <td>Order ID</td>
                                            <td>
                                                <%=order._id%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order Description</td>
                                            <td>
                                                <%=order.orderDesc%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Store Name</td>
                                            <td>
                                                <%=business.name%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Due Date</td>
                                            <td>
                                                <%let due=renderDate(order.dueDate)%>
                                                    <%= due[0]%>/<%= due[1]%>/<%= due[2]%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order Type</td>
                                            <td>
                                                <%=order.orderType%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Payment Method</td>
                                            <td>
                                                <%=order.paymentMethod%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Payable Amount</td>
                                            <td>
                                                <%=order.payableAmount%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order Type</td>
                                            <td>
                                                <%=order.orderType%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Additional Notes</td>
                                            <td>
                                                <%=order.additionalNotes%>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Order Placed On</td>
                                            <td>
                                                <%let doo=renderDate(order.dateOfOrder)%>
                                                    <%= doo[0]%>/<%= doo[1]%>/<%= doo[2]%>
                                            </td>
                                        </tr>
                                        <% if(order.status==="Completed" ) {%>
                                            <tr>
                                                <td>Order Completed On</td>
                                                <td>
                                                    <%let dd=renderDate(order.dateOfOrder)%>
                                                        <%= dd[0]%>/<%= dd[1]%>/<%= dd[2]%>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <tr>
                                                    <td>Contact the Business at </td>
                                                    <td>
                                                        <form action="/view-business/<%=business._id%>" method="get">
                                                            <button class="btn btn-sm btn-primary">
                                                                <i class="zmdi zmdi-store">
                                                                    <%=business.name%>
                                                                </i>
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content text-center">
                                <div class="border-bottom pb-5 mb-5">
                                    <h3 class="c-black">Order Status</h3>
                                    <% if (order.status==="Ready" ) {%>
                                        <span class="badge text-bg-success">
                                            <%= order.status %>
                                        </span>

                                        <% } else if (order.status==="Confirmed" ) {%>
                                            <span class="badge text-bg-primary">
                                                <%= order.status %>
                                            </span>

                                            <% } if (order.status==="Under Process" ) {%>
                                                <span class="badge text-bg-warning">
                                                    <%= order.status %>
                                                </span>

                                                <% } if (order.status==="Needs Action" ) {%>
                                                    <span class="badge text-bg-info">
                                                        <%= order.status %>
                                                    </span>

                                                    <% } if (order.status==="Completed" ) {%>
                                                        <span class="badge text-bg-success">
                                                            <%= order.status %>
                                                        </span>

                                                        <% } if (order.status==="Cancelled" ) {%>
                                                            <span class="badge text-bg-danger">
                                                                <%= order.status %>
                                                            </span>

                                                            <% } %>
                                </div>
                                <h3 class="c-black">Updates</h3>
                                <h5 class="c-black mb-4 mt-n1">
                                    <% if (order.updates.trim() !="" ) {%>
                                        <span class="badge rounded-pill text-bg-dark">
                                            <%= order.updates %>
                                        </span>
                                        <% } else { %>
                                            No Updates Yet!
                                            <% } %>
                                </h5>
                                <% if(order.updatedOn !=null) {%>
                                    <% let dmy=renderDate(order.updatedOn); let hm=renderTime(order.updatedOn) %>
                                        Last Updated On <%=dmy[0]%>/<%=dmy[1]%>/<%=dmy[2]%> at <%=hm[0]%>:<%=hm[1]%>
                                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <% function renderDate(_date) { _date=_date.toString(); let date=new Date(_date);
        _date=date.toISOString().substring(0, 10); let y=_date.substring(0, 4); let m=_date.substring(5, 7); let
        d=_date.substring(8); return [d, m, y]; } function renderTime(dateObj){ // const dateObj=_date.toISOString();
        const hour=dateObj.getUTCHours(); const minute=dateObj.getUTCMinutes(); return [hour, minute]; } %>
</body>

</html>